wsdl/kpos.wsdl

<wsdl:definitions
        name="KPosService"
        targetNamespace="http://ws.kpos.com/app"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://ws.kpos.com/app"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xs:schema
                targetNamespace="http://ws.kpos.com/app"
                version="1.3"
                xmlns:tns="http://ws.kpos.com/app"
                xmlns:xs="http://www.w3.org/2001/XMLSchema"
                elementFormDefault="qualified">
            <xs:element name="SaveSeatingAreaType" type="tns:SaveSeatingAreaType"/>
            <xs:element name="SaveSeatingAreaResponseType" type="tns:SaveSeatingAreaResponseType"/>
            <xs:element name="FetchSeatingAreaType" type="tns:FetchSeatingAreaType"/>
            <xs:element name="FetchSeatingAreaResponseType" type="tns:FetchSeatingAreaResponseType"/>
            <xs:element name="DeleteSeatingAreaType" type="tns:DeleteSeatingAreaType"/>
            <xs:element name="DeleteSeatingAreaResponseType" type="tns:DeleteSeatingAreaResponseType"/>

            <xs:element name="SaveTableType" type="tns:SaveTableType"/>
            <xs:element name="SaveTableResponseType" type="tns:SaveTableResponseType"/>
            <xs:element name="FetchTableType" type="tns:FetchTableType"/>
            <xs:element name="FetchTableResponseType" type="tns:FetchTableResponseType"/>
            <xs:element name="DeleteTableType" type="tns:DeleteTableType"/>
            <xs:element name="DeleteTableResponseType" type="tns:DeleteTableResponseType"/>
            <xs:element name="ListTablesType" type="tns:ListTablesType"/>
            <xs:element name="ListTablesResponseType" type="tns:ListTablesResponseType"/>

            <xs:element name="CreateCategoryType" type="tns:CreateCategoryType"/>
            <xs:element name="CreateCategoryResponseType" type="tns:CreateCategoryResponseType"/>

            <xs:element name="UpdateCategoryType" type="tns:UpdateCategoryType"/>
            <xs:element name="UpdateCategoryResponseType" type="tns:UpdateCategoryResponseType"/>

            <xs:element name="DeleteCategoryType" type="tns:DeleteCategoryType"/>
            <xs:element name="DeleteCategoryResponseType" type="tns:DeleteCategoryResponseType"/>

            <xs:element name="ListCategoryType" type="tns:ListCategoryType"/>
            <xs:element name="ListCategoryResponseType" type="tns:ListCategoryResponseType"/>

            <xs:element name="CreateCategoryOptionType" type="tns:CreateCategoryOptionType"/>
            <xs:element name="CreateCategoryOptionResponseType" type="tns:CreateCategoryOptionResponseType"/>
            <xs:element name="UpdateCategoryOptionType" type="tns:UpdateCategoryOptionType"/>
            <xs:element name="UpdateCategoryOptionResponseType" type="tns:UpdateCategoryOptionResponseType"/>
            <xs:element name="DeleteCategoryOptionType" type="tns:DeleteCategoryOptionType"/>
            <xs:element name="DeleteCategoryOptionResponseType" type="tns:DeleteCategoryOptionResponseType"/>
            <xs:element name="ListCategoryOptionType" type="tns:ListCategoryOptionType"/>
            <xs:element name="ListCategoryOptionResponseType" type="tns:ListCategoryOptionResponseType"/>

            <xs:element name="CreateSaleItemType" type="tns:CreateSaleItemType"/>
            <xs:element name="CreateSaleItemResponseType" type="tns:CreateSaleItemResponseType"/>

            <xs:element name="UpdateSaleItemType" type="tns:UpdateSaleItemType"/>
            <xs:element name="UpdateSaleItemResponseType" type="tns:UpdateSaleItemResponseType"/>

            <xs:element name="DeleteSaleItemType" type="tns:DeleteSaleItemType"/>
            <xs:element name="DeleteSaleItemResponseType" type="tns:DeleteSaleItemResponseType"/>

            <xs:element name="FetchSaleItemType" type="tns:FetchSaleItemType"/>
            <xs:element name="FetchSaleItemResponseType" type="tns:FetchSaleItemResponseType"/>

            <xs:element name="ListSaleItemsForCategoryType" type="tns:ListSaleItemsForCategoryType"/>
            <xs:element name="ListSaleItemsForCategoryResponseType" type="tns:ListSaleItemsForCategoryResponseType"/>

            <xs:element name="CreateSaleItemOptionType" type="tns:CreateSaleItemOptionType"/>
            <xs:element name="CreateSaleItemOptionResponseType" type="tns:CreateSaleItemOptionResponseType"/>

            <xs:element name="UpdateSaleItemOptionType" type="tns:UpdateSaleItemOptionType"/>
            <xs:element name="UpdateSaleItemOptionResponseType" type="tns:UpdateSaleItemOptionResponseType"/>

            <xs:element name="DeleteSaleItemOptionType" type="tns:DeleteSaleItemOptionType"/>
            <xs:element name="DeleteSaleItemOptionResponseType" type="tns:DeleteSaleItemOptionResponseType"/>

            <xs:element name="CreatePrinterType" type="tns:CreatePrinterType"/>
            <xs:element name="CreatePrinterResponseType" type="tns:CreatePrinterResponseType"/>
            <xs:element name="UpdatePrinterType" type="tns:UpdatePrinterType"/>
            <xs:element name="UpdatePrinterResponseType" type="tns:UpdatePrinterResponseType"/>
            <xs:element name="DeletePrinterType" type="tns:DeletePrinterType"/>
            <xs:element name="DeletePrinterResponseType" type="tns:DeletePrinterResponseType"/>
            <xs:element name="ListPrintersType" type="tns:ListPrintersType"/>
            <xs:element name="ListPrintersResponseType" type="tns:ListPrintersResponseType"/>

            <xs:element name="CreateGlobalOptionType" type="tns:CreateGlobalOptionType"/>
            <xs:element name="CreateGlobalOptionResponseType" type="tns:CreateGlobalOptionResponseType"/>
            <xs:element name="UpdateGlobalOptionType" type="tns:UpdateGlobalOptionType"/>
            <xs:element name="UpdateGlobalOptionResponseType" type="tns:UpdateGlobalOptionResponseType"/>
            <xs:element name="DeleteGlobalOptionType" type="tns:DeleteGlobalOptionType"/>
            <xs:element name="DeleteGlobalOptionResponseType" type="tns:DeleteGlobalOptionResponseType"/>
            <xs:element name="ListGlobalOptionType" type="tns:ListGlobalOptionType"/>
            <xs:element name="ListGlobalOptionResponseType" type="tns:ListGlobalOptionResponseType"/>

            <!--Result object-->
            <xs:complexType name="ResultType">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="successful" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="failureReasonCode" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="exception" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="failureReason" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <!--Define data structures below-->
            <xs:complexType name="TableType">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="x" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="y" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="areaId" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SeatingAreaType">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="tables" type="tns:TableType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="CategoryType">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="notes" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="isAllowedHappyHour" type="xsd:boolean" minOccurs="0" maxOccurs="1" default="false"/>
                    <xs:element name="happyHourRate" type="xsd:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="thumbPath" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="printerIds" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CategoryOptionType">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="price" type="xsd:double" maxOccurs="1"/>
                    <xs:element name="categoryId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PrinterType">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="name" type="xsd:string" minOccurs="1"/>
                    <xs:element name="ipAddr" type="xsd:string" minOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="SaleItemType">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="catId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="normalPrice" type="xsd:double" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="priceSmall" type="xsd:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="priceMed" type="xsd:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="priceLarge" type="xsd:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="takeoutPrice" type="xsd:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="outPriceSmall" type="xsd:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="outPriceMedium" type="xsd:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="outPriceLarge" type="xsd:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="seasonPrice" type="xsd:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="isAllowedHH" type="xsd:boolean" minOccurs="0" maxOccurs="1" default="false"/>
                    <xs:element name="hhPrice" type="xsd:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="hhRate" type="xsd:double" minOccurs="0" maxOccurs="1" default="1"/>
                    <xs:element name="options" type="tns:SaleItemOptionType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="isSingleOption" type="xsd:boolean" minOccurs="0" maxOccurs="1" default="false"/>
                    <xs:element name="isTaxable" type="xsd:boolean" minOccurs="1" maxOccurs="1" default="false"/>
                    <xs:element name="thumbPath" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="printerIds" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="SaleItemOptionType">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="saleItemId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="price" type="xsd:double" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="takeoutPrice" type="xsd:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="isRequired" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="thumbPath" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="GlobalOptionType">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="price" type="xsd:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="outPrice" type="xsd:double" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PaymentRecord">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="type" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="amount" type="xsd:double" minOccurs="1" maxOccurs="1" default="0"/>
                    <xs:element name="cardType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="cardNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="transactionTS" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OrderItem">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="orderId" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <!--This is the id of the SaleItem object.-->
                    <xs:element name="saleItemId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="quantity" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="price" type="xsd:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="notes" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="options" type="tns:OrderItemOption" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OrderItemOption">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="orderItemId" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <!--This is the id of the SaleItemOption object.-->
                    <xs:element name="itemOptionId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="quantity" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="price" type="xsd:double" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Order">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="type" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="tableId" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="tableName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="totalPrice" type="xsd:double" minOccurs="1" maxOccurs="1" default="0"/>
                    <xs:element name="notes" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="status" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="createTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="orderItems" type="tns:OrderItem" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="payments" type="tns:PaymentRecord" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="numOfGuests" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="customer" type="tns:CustomerInfo" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CustomerInfo">
                <xs:sequence>
                    <xs:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="phoneNumber" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="street1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="apartment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="buzz" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="city" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="zipcode" type="xsd:string" maxOccurs="1" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <!--End of data structures-->

            <!--Define operations below-->
            <xs:complexType name="SaveSeatingAreaType">
                <xs:sequence>
                    <xs:element name="areaType" type="tns:SeatingAreaType" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SaveSeatingAreaResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                    <xs:element name="areaId" type="xs:long" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FetchSeatingAreaType">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FetchSeatingAreaResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                    <xs:element name="areaType" type="tns:SeatingAreaType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DeleteSeatingAreaType">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DeleteSeatingAreaResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="SaveTableType">
                <xs:sequence>
                    <xs:element name="table" type="tns:TableType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SaveTableResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                    <xs:element name="tableId" type="xs:long" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FetchTableType">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FetchTableResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                    <xs:element name="table" type="tns:TableType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DeleteTableType">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DeleteTableResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListTablesType">
                <xs:sequence>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListTablesResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                    <xs:element name="table" type="tns:TableType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="CreateCategoryType">
                <xs:sequence>
                    <xs:element name="category" type="tns:CategoryType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CreateCategoryResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                    <xs:element name="categoryId" type="xs:long" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="UpdateCategoryType">
                <xs:sequence>
                    <xs:element name="category" type="tns:CategoryType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UpdateCategoryResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="DeleteCategoryType">
                <xs:sequence>
                    <xs:element name="categoryId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DeleteCategoryResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ListCategoryType">
                <xs:sequence>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CategoryInfoType">
                <xs:sequence>
                    <xs:element name="id" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="name" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListCategoryResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                    <xs:element name="total" type="xs:int" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="categories" type="tns:CategoryType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="CreateCategoryOptionType">
                <xs:sequence>
                    <xs:element name="categoryOption" type="tns:CategoryOptionType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CreateCategoryOptionResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                    <xs:element name="optionId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UpdateCategoryOptionType">
                <xs:sequence>
                    <xs:element name="categoryOption" type="tns:CategoryOptionType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UpdateCategoryOptionResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DeleteCategoryOptionType">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DeleteCategoryOptionResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListCategoryOptionType">
                <xs:sequence>
                    <xs:element name="categoryId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListCategoryOptionResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                    <xs:element name="options" type="tns:CategoryOptionType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="CreateSaleItemType">
                <xs:sequence>
                    <xs:element name="saleItem" type="tns:SaleItemType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CreateSaleItemResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                    <xs:element name="saleItemId" type="xs:long" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            
            <xs:complexType name="ListSaleItemsForCategoryType">
                <xs:sequence>
                    <xs:element name="categoryId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListSaleItemsForCategoryResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                    <xs:element name="total" type="xs:int" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="saleItems" type="tns:SaleItemType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="UpdateSaleItemType">
                <xs:sequence>
                    <xs:element name="saleItem" type="tns:SaleItemType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UpdateSaleItemResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="DeleteSaleItemType">
                <xs:sequence>
                    <xs:element name="itemId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DeleteSaleItemResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="FetchSaleItemType">
                <xs:sequence>
                    <xs:element name="itemId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FetchSaleItemResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                    <xs:element name="saleItem" type="tns:SaleItemType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="CreateSaleItemOptionType">
                <xs:sequence>
                    <xs:element name="itemOption" type="tns:SaleItemOptionType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CreateSaleItemOptionResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                    <xs:element name="itemOptionId" type="xs:long" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="UpdateSaleItemOptionType">
                <xs:sequence>
                    <xs:element name="itemOption" type="tns:SaleItemOptionType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UpdateSaleItemOptionResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="DeleteSaleItemOptionType">
                <xs:sequence>
                    <xs:element name="id" type="xs:long" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DeleteSaleItemOptionResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="CreatePrinterType">
                <xs:sequence>
                    <xs:element name="printer" type="tns:PrinterType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CreatePrinterResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                    <xs:element name="id" type="xs:long" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="UpdatePrinterType">
                <xs:sequence>
                    <xs:element name="printer" type="tns:PrinterType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UpdatePrinterResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="DeletePrinterType">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DeletePrinterResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                    <xs:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ListPrintersType">
                <xs:sequence>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListPrintersResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                    <xs:element name="printers" type="tns:PrinterType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="CreateGlobalOptionType">
                <xs:sequence>
                    <xs:element name="globalOption" type="tns:GlobalOptionType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CreateGlobalOptionResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UpdateGlobalOptionType">
                <xs:sequence>
                    <xs:element name="globalOption" type="tns:GlobalOptionType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UpdateGlobalOptionResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DeleteGlobalOptionType">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DeleteGlobalOptionResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListGlobalOptionType">
                <xs:sequence>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListGlobalOptionResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                    <xs:element name="options" type="tns:GlobalOptionType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <!--End of operations-->
        </xs:schema>
    </wsdl:types>

    <!--Begin of messages-->
    <wsdl:message name="SaveSeatingAreaMessage">
        <wsdl:part name="parameters" element="tns:SaveSeatingAreaType"/>
    </wsdl:message>
    <wsdl:message name="SaveSeatingAreaResponseMessage">
        <wsdl:part name="parameters" element="tns:SaveSeatingAreaResponseType"/>
    </wsdl:message>
    <wsdl:message name="FetchSeatingAreaMessage">
        <wsdl:part name="parameters" element="tns:FetchSeatingAreaType"/>
    </wsdl:message>
    <wsdl:message name="FetchSeatingAreaResponseMessage">
        <wsdl:part name="parameters" element="tns:FetchSeatingAreaResponseType"/>
    </wsdl:message>
    <wsdl:message name="DeleteSeatingAreaMessage">
        <wsdl:part name="parameters" element="tns:DeleteSeatingAreaType"/>
    </wsdl:message>
    <wsdl:message name="DeleteSeatingAreaResponseMessage">
        <wsdl:part name="parameters" element="tns:DeleteSeatingAreaResponseType"/>
    </wsdl:message>

    <wsdl:message name="SaveTableMessage">
        <wsdl:part name="parameters" element="tns:SaveTableType"/>
    </wsdl:message>
    <wsdl:message name="SaveTableResponseMessage">
        <wsdl:part name="parameters" element="tns:SaveTableResponseType"/>
    </wsdl:message>
    <wsdl:message name="FetchTableMessage">
        <wsdl:part name="parameters" element="tns:FetchTableType"/>
    </wsdl:message>
    <wsdl:message name="FetchTableResponseMessage">
        <wsdl:part name="parameters" element="tns:FetchTableResponseType"/>
    </wsdl:message>
    <wsdl:message name="DeleteTableMessage">
        <wsdl:part name="parameters" element="tns:DeleteTableType"/>
    </wsdl:message>
    <wsdl:message name="DeleteTableResponseMessage">
        <wsdl:part name="parameters" element="tns:DeleteTableResponseType"/>
    </wsdl:message>
    <wsdl:message name="ListTablesMessage">
        <wsdl:part name="parameters" element="tns:ListTablesType"/>
    </wsdl:message>
    <wsdl:message name="ListTablesResponseMessage">
        <wsdl:part name="parameters" element="tns:ListTablesResponseType"/>
    </wsdl:message>

    <wsdl:message name="CreateCategoryMessage">
        <wsdl:part name="parameters" element="tns:CreateCategoryType"/>
    </wsdl:message>
    <wsdl:message name="CreateCategoryResponseMessage">
        <wsdl:part name="parameters" element="tns:CreateCategoryResponseType"/>
    </wsdl:message>

    <wsdl:message name="UpdateCategoryMessage">
        <wsdl:part name="parameters" element="tns:UpdateCategoryType"/>
    </wsdl:message>
    <wsdl:message name="UpdateCategoryResponseMessage">
        <wsdl:part name="parameters" element="tns:UpdateCategoryResponseType"/>
    </wsdl:message>

    <wsdl:message name="DeleteCategoryMessage">
        <wsdl:part name="parameters" element="tns:DeleteCategoryType"/>
    </wsdl:message>
    <wsdl:message name="DeleteCategoryResponseMessage">
        <wsdl:part name="parameters" element="tns:DeleteCategoryResponseType"/>
    </wsdl:message>

    <wsdl:message name="ListCategoryMessage">
        <wsdl:part name="parameters" element="tns:ListCategoryType"/>
    </wsdl:message>
    <wsdl:message name="ListCategoryResponseMessage">
        <wsdl:part name="parameters" element="tns:ListCategoryResponseType"/>
    </wsdl:message>

    <wsdl:message name="CreateCategoryOptionMessage">
        <wsdl:part name="parameters" element="tns:CreateCategoryOptionType"/>
    </wsdl:message>
    <wsdl:message name="CreateCategoryOptionResponseMessage">
        <wsdl:part name="parameters" element="tns:CreateCategoryOptionResponseType"/>
    </wsdl:message>
    <wsdl:message name="UpdateCategoryOptionMessage">
        <wsdl:part name="parameters" element="tns:UpdateCategoryOptionType"/>
    </wsdl:message>
    <wsdl:message name="UpdateCategoryOptionResponseMessage">
        <wsdl:part name="parameters" element="tns:UpdateCategoryOptionResponseType"/>
    </wsdl:message>
    <wsdl:message name="DeleteCategoryOptionMessage">
        <wsdl:part name="parameters" element="tns:DeleteCategoryOptionType"/>
    </wsdl:message>
    <wsdl:message name="DeleteCategoryOptionResponseMessage">
        <wsdl:part name="parameters" element="tns:DeleteCategoryOptionResponseType"/>
    </wsdl:message>
    <wsdl:message name="ListCategoryOptionMessage">
        <wsdl:part name="parameters" element="tns:ListCategoryOptionType"/>
    </wsdl:message>
    <wsdl:message name="ListCategoryOptionResponseMessage">
        <wsdl:part name="parameters" element="tns:ListCategoryOptionResponseType"/>
    </wsdl:message>

    <wsdl:message name="ListSaleItemsForCategoryMessage">
        <wsdl:part name="parameters" element="tns:ListSaleItemsForCategoryType"/>
    </wsdl:message>
    <wsdl:message name="ListSaleItemsForCategoryResponseMessage">
        <wsdl:part name="parameters" element="tns:ListSaleItemsForCategoryResponseType"/>
    </wsdl:message>

    <wsdl:message name="CreateSaleItemMessage">
        <wsdl:part name="parameters" element="tns:CreateSaleItemType"/>
    </wsdl:message>
    <wsdl:message name="CreateSaleItemResponseMessage">
        <wsdl:part name="parameters" element="tns:CreateSaleItemResponseType"/>
    </wsdl:message>

    <wsdl:message name="UpdateSaleItemMessage">
        <wsdl:part name="parameters" element="tns:UpdateSaleItemType"/>
    </wsdl:message>
    <wsdl:message name="UpdateSaleItemResponseMessage">
        <wsdl:part name="parameters" element="tns:UpdateSaleItemResponseType"/>
    </wsdl:message>

    <wsdl:message name="DeleteSaleItemMessage">
        <wsdl:part name="parameters" element="tns:DeleteSaleItemType"/>
    </wsdl:message>
    <wsdl:message name="DeleteSaleItemResponseMessage">
        <wsdl:part name="parameters" element="tns:DeleteSaleItemResponseType"/>
    </wsdl:message>

    <wsdl:message name="FetchSaleItemMessage">
        <wsdl:part name="parameters" element="tns:FetchSaleItemType"/>
    </wsdl:message>
    <wsdl:message name="FetchSaleItemResponseMessage">
        <wsdl:part name="parameters" element="tns:FetchSaleItemResponseType"/>
    </wsdl:message>

    <wsdl:message name="CreateSaleItemOptionMessage">
        <wsdl:part name="parameters" element="tns:CreateSaleItemOptionType"/>
    </wsdl:message>
    <wsdl:message name="CreateSaleItemOptionResponseMessage">
        <wsdl:part name="parameters" element="tns:CreateSaleItemOptionResponseType"/>
    </wsdl:message>

    <wsdl:message name="UpdateSaleItemOptionMessage">
        <wsdl:part name="parameters" element="tns:UpdateSaleItemOptionType"/>
    </wsdl:message>
    <wsdl:message name="UpdateSaleItemOptionResponseMessage">
        <wsdl:part name="parameters" element="tns:UpdateSaleItemOptionResponseType"/>
    </wsdl:message>

    <wsdl:message name="DeleteSaleItemOptionMessage">
        <wsdl:part name="parameters" element="tns:DeleteSaleItemOptionType"/>
    </wsdl:message>
    <wsdl:message name="DeleteSaleItemOptionResponseMessage">
        <wsdl:part name="parameters" element="tns:DeleteSaleItemOptionResponseType"/>
    </wsdl:message>

    <wsdl:message name="CreatePrinterMessage">
        <wsdl:part name="parameters" element="tns:CreatePrinterType"/>
    </wsdl:message>
    <wsdl:message name="CreatePrinterResponseMessage">
        <wsdl:part name="parameters" element="tns:CreatePrinterResponseType"/>
    </wsdl:message>
    <wsdl:message name="UpdatePrinterMessage">
        <wsdl:part name="parameters" element="tns:UpdatePrinterType"/>
    </wsdl:message>
    <wsdl:message name="UpdatePrinterResponseMessage">
        <wsdl:part name="parameters" element="tns:UpdatePrinterResponseType"/>
    </wsdl:message>
    <wsdl:message name="DeletePrinterMessage">
        <wsdl:part name="parameters" element="tns:DeletePrinterType"/>
    </wsdl:message>
    <wsdl:message name="DeletePrinterResponseMessage">
        <wsdl:part name="parameters" element="tns:DeletePrinterResponseType"/>
    </wsdl:message>
    <wsdl:message name="ListPrintersMessage">
        <wsdl:part name="parameters" element="tns:ListPrintersType"/>
    </wsdl:message>
    <wsdl:message name="ListPrintersResponseMessage">
        <wsdl:part name="parameters" element="tns:ListPrintersResponseType"/>
    </wsdl:message>

    <wsdl:message name="CreateGlobalOptionMessage">
        <wsdl:part name="parameters" element="tns:CreateGlobalOptionType"/>
    </wsdl:message>
    <wsdl:message name="CreateGlobalOptionResponseMessage">
        <wsdl:part name="parameters" element="tns:CreateGlobalOptionResponseType"/>
    </wsdl:message>
    <wsdl:message name="UpdateGlobalOptionMessage">
        <wsdl:part name="parameters" element="tns:UpdateGlobalOptionType"/>
    </wsdl:message>
    <wsdl:message name="UpdateGlobalOptionResponseMessage">
        <wsdl:part name="parameters" element="tns:UpdateGlobalOptionResponseType"/>
    </wsdl:message>
    <wsdl:message name="DeleteGlobalOptionMessage">
        <wsdl:part name="parameters" element="tns:DeleteGlobalOptionType"/>
    </wsdl:message>
    <wsdl:message name="DeleteGlobalOptionResponseMessage">
        <wsdl:part name="parameters" element="tns:DeleteGlobalOptionResponseType"/>
    </wsdl:message>
    <wsdl:message name="ListGlobalOptionMessage">
        <wsdl:part name="parameters" element="tns:ListGlobalOptionType"/>
    </wsdl:message>
    <wsdl:message name="ListGlobalOptionResponseMessage">
        <wsdl:part name="parameters" element="tns:ListGlobalOptionResponseType"/>
    </wsdl:message>
    <!--End of messages-->

    <wsdl:portType name="KPosPortType">
        <wsdl:operation name="SaveSeatingArea">
            <wsdl:input message="tns:SaveSeatingAreaMessage" name="SaveSeatingArea"/>
            <wsdl:output message="tns:SaveSeatingAreaResponseMessage" name="SaveSeatingAreaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="FetchSeatingArea">
            <wsdl:input message="tns:FetchSeatingAreaMessage" name="FetchSeatingArea"/>
            <wsdl:output message="tns:FetchSeatingAreaResponseMessage" name="FetchSeatingAreaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteSeatingArea">
            <wsdl:input message="tns:DeleteSeatingAreaMessage" name="DeleteSeatingArea"/>
            <wsdl:output message="tns:DeleteSeatingAreaResponseMessage" name="DeleteSeatingAreaResponse"/>
        </wsdl:operation>

        <wsdl:operation name="SaveTable">
            <wsdl:input message="tns:SaveTableMessage" name="SaveTable"/>
            <wsdl:output message="tns:SaveTableResponseMessage" name="SaveTableResponse"/>
        </wsdl:operation>

        <wsdl:operation name="FetchTable">
            <wsdl:input message="tns:FetchTableMessage" name="FetchTable"/>
            <wsdl:output message="tns:FetchTableResponseMessage" name="FetchTableResponse"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteTable">
            <wsdl:input message="tns:DeleteTableMessage" name="DeleteTable"/>
            <wsdl:output message="tns:DeleteTableResponseMessage" name="DeleteTableResponse"/>
        </wsdl:operation>

        <wsdl:operation name="ListTables">
            <wsdl:input message="tns:ListTablesMessage" name="ListTables"/>
            <wsdl:output message="tns:ListTablesResponseMessage" name="ListTablesResponse"/>
        </wsdl:operation>

        <wsdl:operation name="CreateCategory">
            <wsdl:input message="tns:CreateCategoryMessage" name="CreateCategory"/>
            <wsdl:output message="tns:CreateCategoryResponseMessage" name="CreateCategoryResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateCategory">
            <wsdl:input message="tns:UpdateCategoryMessage" name="UpdateCategory"/>
            <wsdl:output message="tns:UpdateCategoryResponseMessage" name="UpdateCategoryResponse"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteCategory">
            <wsdl:input message="tns:DeleteCategoryMessage" name="DeleteCategory"/>
            <wsdl:output message="tns:DeleteCategoryResponseMessage" name="DeleteCategoryResponse"/>
        </wsdl:operation>

        <wsdl:operation name="ListCategory">
            <wsdl:input message="tns:ListCategoryMessage" name="ListCategory"/>
            <wsdl:output message="tns:ListCategoryResponseMessage" name="ListCategoryResponse"/>
        </wsdl:operation>

        <wsdl:operation name="CreateCategoryOption">
            <wsdl:input message="tns:CreateCategoryOptionMessage" name="CreateCategoryOption"/>
            <wsdl:output message="tns:CreateCategoryOptionResponseMessage" name="CreateCategoryOptionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateCategoryOption">
            <wsdl:input message="tns:UpdateCategoryOptionMessage" name="UpdateCategoryOption"/>
            <wsdl:output message="tns:UpdateCategoryOptionResponseMessage" name="UpdateCategoryOptionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteCategoryOption">
            <wsdl:input message="tns:DeleteCategoryOptionMessage" name="DeleteCategoryOption"/>
            <wsdl:output message="tns:DeleteCategoryOptionResponseMessage" name="DeleteCategoryOptionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ListCategoryOption">
            <wsdl:input message="tns:ListCategoryOptionMessage" name="ListCategoryOption"/>
            <wsdl:output message="tns:ListCategoryOptionResponseMessage" name="ListCategoryOptionResponse"/>
        </wsdl:operation>

        <wsdl:operation name="ListSaleItemsForCategory">
            <wsdl:input message="tns:ListSaleItemsForCategoryMessage" name="ListSaleItemsForCategory"/>
            <wsdl:output message="tns:ListSaleItemsForCategoryResponseMessage" name="ListSaleItemsForCategoryResponse"/>
        </wsdl:operation>

        <wsdl:operation name="CreateSaleItem">
            <wsdl:input message="tns:CreateSaleItemMessage" name="CreateSaleItem"/>
            <wsdl:output message="tns:CreateSaleItemResponseMessage" name="CreateSaleItemResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateSaleItem">
            <wsdl:input message="tns:UpdateSaleItemMessage" name="UpdateSaleItem"/>
            <wsdl:output message="tns:UpdateSaleItemResponseMessage" name="UpdateSaleItemResponse"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteSaleItem">
            <wsdl:input message="tns:DeleteSaleItemMessage" name="DeleteSaleItem"/>
            <wsdl:output message="tns:DeleteSaleItemResponseMessage" name="DeleteSaleItemResponse"/>
        </wsdl:operation>

        <wsdl:operation name="FetchSaleItem">
            <wsdl:input message="tns:FetchSaleItemMessage" name="FetchSaleItem"/>
            <wsdl:output message="tns:FetchSaleItemResponseMessage" name="FetchSaleItemResponse"/>
        </wsdl:operation>

        <wsdl:operation name="CreateSaleItemOption">
            <wsdl:input message="tns:CreateSaleItemOptionMessage" name="CreateSaleItemOption"/>
            <wsdl:output message="tns:CreateSaleItemOptionResponseMessage" name="CreateSaleItemOptionResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateSaleItemOption">
            <wsdl:input message="tns:UpdateSaleItemOptionMessage" name="UpdateSaleItemOption"/>
            <wsdl:output message="tns:UpdateSaleItemOptionResponseMessage" name="UpdateSaleItemOptionResponse"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteSaleItemOption">
            <wsdl:input message="tns:DeleteSaleItemOptionMessage" name="DeleteSaleItemOption"/>
            <wsdl:output message="tns:DeleteSaleItemOptionResponseMessage" name="DeleteSaleItemOptionResponse"/>
        </wsdl:operation>

        <wsdl:operation name="CreatePrinter">
            <wsdl:input message="tns:CreatePrinterMessage" name="CreatePrinter"/>
            <wsdl:output message="tns:CreatePrinterResponseMessage" name="CreatePrinterResponse"/>
        </wsdl:operation>
        <wsdl:operation name="UpdatePrinter">
            <wsdl:input message="tns:UpdatePrinterMessage" name="UpdatePrinter"/>
            <wsdl:output message="tns:UpdatePrinterResponseMessage" name="UpdatePrinterResponse"/>
        </wsdl:operation>
        <wsdl:operation name="DeletePrinter">
            <wsdl:input message="tns:DeletePrinterMessage" name="DeletePrinter"/>
            <wsdl:output message="tns:DeletePrinterResponseMessage" name="DeletePrinterResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ListPrinters">
            <wsdl:input message="tns:ListPrintersMessage" name="ListPrinters"/>
            <wsdl:output message="tns:ListPrintersResponseMessage" name="ListPrintersResponse"/>
        </wsdl:operation>

        <wsdl:operation name="CreateGlobalOption">
            <wsdl:input message="tns:CreateGlobalOptionMessage" name="CreateGlobalOption"/>
            <wsdl:output message="tns:CreateGlobalOptionResponseMessage" name="CreateGlobalOptionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateGlobalOption">
            <wsdl:input message="tns:UpdateGlobalOptionMessage" name="UpdateGlobalOption"/>
            <wsdl:output message="tns:UpdateGlobalOptionResponseMessage" name="UpdateGlobalOptionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteGlobalOption">
            <wsdl:input message="tns:DeleteGlobalOptionMessage" name="DeleteGlobalOption"/>
            <wsdl:output message="tns:DeleteGlobalOptionResponseMessage" name="DeleteGlobalOptionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ListGlobalOption">
            <wsdl:input message="tns:ListGlobalOptionMessage" name="ListGlobalOption"/>
            <wsdl:output message="tns:ListGlobalOptionResponseMessage" name="ListGlobalOptionResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="KPosBinding" type="tns:KPosPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="SaveSeatingArea">
            <soap:operation soapAction="http://ws.kpos.com/SaveSeatingArea" style="document"/>
            <wsdl:input name="SaveSeatingArea">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SaveSeatingAreaResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="FetchSeatingArea">
            <soap:operation soapAction="http://ws.kpos.com/FetchSeatingArea" style="document"/>
            <wsdl:input name="FetchSeatingArea">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="FetchSeatingAreaResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteSeatingArea">
            <soap:operation soapAction="http://ws.kpos.com/DeleteSeatingArea" style="document"/>
            <wsdl:input name="DeleteSeatingArea">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteSeatingAreaResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SaveTable">
            <soap:operation soapAction="http://ws.kpos.com/SaveTable" style="document"/>
            <wsdl:input name="SaveTable">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SaveTableResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="FetchTable">
            <soap:operation soapAction="http://ws.kpos.com/FetchTable" style="document"/>
            <wsdl:input name="FetchTable">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="FetchTableResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="DeleteTable">
            <soap:operation soapAction="http://ws.kpos.com/DeleteTable" style="document"/>
            <wsdl:input name="DeleteTable">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteTableResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="ListTables">
            <soap:operation soapAction="http://ws.kpos.com/ListTables" style="document"/>
            <wsdl:input name="ListTables">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ListTablesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="CreateCategory">
            <soap:operation soapAction="http://ws.kpos.com/CreateCategory" style="document"/>
            <wsdl:input name="CreateCategory">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateCategoryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="UpdateCategory">
            <soap:operation soapAction="http://ws.kpos.com/UpdateCategory" style="document"/>
            <wsdl:input name="UpdateCategory">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateCategoryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="DeleteCategory">
            <soap:operation soapAction="http://ws.kpos.com/DeleteCategory" style="document"/>
            <wsdl:input name="DeleteCategory">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteCategoryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="ListCategory">
            <soap:operation soapAction="http://ws.kpos.com/ListCategory" style="document"/>
            <wsdl:input name="ListCategory">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ListCategoryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="CreateCategoryOption">
            <soap:operation soapAction="http://ws.kpos.com/CreateCategoryOption" style="document"/>
            <wsdl:input name="CreateCategoryOption">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateCategoryOptionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateCategoryOption">
            <soap:operation soapAction="http://ws.kpos.com/UpdateCategoryOption" style="document"/>
            <wsdl:input name="UpdateCategoryOption">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateCategoryOptionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteCategoryOption">
            <soap:operation soapAction="http://ws.kpos.com/DeleteCategoryOption" style="document"/>
            <wsdl:input name="DeleteCategoryOption">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteCategoryOptionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ListCategoryOption">
            <soap:operation soapAction="http://ws.kpos.com/ListCategoryOption" style="document"/>
            <wsdl:input name="ListCategoryOption">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ListCategoryOptionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="CreateSaleItem">
            <soap:operation soapAction="http://ws.kpos.com/CreateSaleItem" style="document"/>
            <wsdl:input name="CreateSaleItem">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateSaleItemResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="ListSaleItemsForCategory">
            <soap:operation soapAction="http://ws.kpos.com/ListSaleItemsForCategory" style="document"/>
            <wsdl:input name="ListSaleItemsForCategory">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ListSaleItemsForCategoryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="UpdateSaleItem">
            <soap:operation soapAction="http://ws.kpos.com/UpdateSaleItem" style="document"/>
            <wsdl:input name="UpdateSaleItem">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateSaleItemResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="DeleteSaleItem">
            <soap:operation soapAction="http://ws.kpos.com/DeleteSaleItem" style="document"/>
            <wsdl:input name="DeleteSaleItem">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteSaleItemResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="FetchSaleItem">
            <soap:operation soapAction="http://ws.kpos.com/FetchSaleItem" style="document"/>
            <wsdl:input name="FetchSaleItem">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="FetchSaleItemResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="CreateSaleItemOption">
            <soap:operation soapAction="http://ws.kpos.com/CreateSaleItemOption" style="document"/>
            <wsdl:input name="CreateSaleItemOption">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateSaleItemOptionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="UpdateSaleItemOption">
            <soap:operation soapAction="http://ws.kpos.com/UpdateSaleItemOption" style="document"/>
            <wsdl:input name="UpdateSaleItemOption">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateSaleItemOptionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="DeleteSaleItemOption">
            <soap:operation soapAction="http://ws.kpos.com/DeleteSaleItemOption" style="document"/>
            <wsdl:input name="DeleteSaleItemOption">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteSaleItemOptionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="CreatePrinter">
            <soap:operation soapAction="http://ws.kpos.com/CreatePrinter" style="document"/>
            <wsdl:input name="CreatePrinter">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreatePrinterResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="UpdatePrinter">
            <soap:operation soapAction="http://ws.kpos.com/UpdatePrinter" style="document"/>
            <wsdl:input name="UpdatePrinter">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdatePrinterResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="DeletePrinter">
            <soap:operation soapAction="http://ws.kpos.com/DeletePrinter" style="document"/>
            <wsdl:input name="DeletePrinter">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeletePrinterResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="ListPrinters">
            <soap:operation soapAction="http://ws.kpos.com/ListPrinters" style="document"/>
            <wsdl:input name="ListPrinters">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ListPrintersResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="CreateGlobalOption">
            <soap:operation soapAction="http://ws.kpos.com/CreateGlobalOption" style="document"/>
            <wsdl:input name="CreateGlobalOption">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateGlobalOptionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateGlobalOption">
            <soap:operation soapAction="http://ws.kpos.com/UpdateGlobalOption" style="document"/>
            <wsdl:input name="UpdateGlobalOption">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateGlobalOptionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteGlobalOption">
            <soap:operation soapAction="http://ws.kpos.com/DeleteGlobalOption" style="document"/>
            <wsdl:input name="DeleteGlobalOption">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteGlobalOptionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ListGlobalOption">
            <soap:operation soapAction="http://ws.kpos.com/ListGlobalOption" style="document"/>
            <wsdl:input name="ListGlobalOption">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ListGlobalOptionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="KPosService">
        <wsdl:port name="KPosPort" binding="tns:KPosBinding">
            <soap:address location="http://127.0.0.1:22080/kpos/ws/kposService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
