wsdl/kpos.wsdl

<wsdl:definitions
        name="KPosService"
        targetNamespace="http://ws.kpos.com/app"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://ws.kpos.com/app"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xs:schema
                targetNamespace="http://ws.kpos.com/app"
                version="1.3"
                xmlns:tns="http://ws.kpos.com/app"
                xmlns:xs="http://www.w3.org/2001/XMLSchema"
                elementFormDefault="qualified">

            <xs:element name="CreateCategoryType" type="tns:CreateCategoryType"/>
            <xs:element name="CreateCategoryResponseType" type="tns:CreateCategoryResponseType"/>

            <xs:element name="UpdateCategoryType" type="tns:UpdateCategoryType"/>
            <xs:element name="UpdateCategoryResponseType" type="tns:UpdateCategoryResponseType"/>

            <xs:element name="DeleteCategoryType" type="tns:DeleteCategoryType"/>
            <xs:element name="DeleteCategoryResponseType" type="tns:DeleteCategoryResponseType"/>

            <xs:element name="ListCategoryType" type="tns:ListCategoryType"/>
            <xs:element name="ListCategoryResponseType" type="tns:ListCategoryResponseType"/>

            <xs:element name="CreateSaleItemType" type="tns:CreateSaleItemType"/>
            <xs:element name="CreateSaleItemResponseType" type="tns:CreateSaleItemResponseType"/>

            <xs:element name="UpdateSaleItemType" type="tns:UpdateSaleItemType"/>
            <xs:element name="UpdateSaleItemResponseType" type="tns:UpdateSaleItemResponseType"/>

            <xs:element name="DeleteSaleItemType" type="tns:DeleteSaleItemType"/>
            <xs:element name="DeleteSaleItemResponseType" type="tns:DeleteSaleItemResponseType"/>

            <xs:element name="FetchSaleItemType" type="tns:FetchSaleItemType"/>
            <xs:element name="FetchSaleItemResponseType" type="tns:FetchSaleItemResponseType"/>

            <xs:element name="ListSaleItemsForCategoryType" type="tns:ListSaleItemsForCategoryType"/>
            <xs:element name="ListSaleItemsForCategoryResponseType" type="tns:ListSaleItemsForCategoryResponseType"/>

            <xs:element name="CreateSaleItemOptionType" type="tns:CreateSaleItemOptionType"/>
            <xs:element name="CreateSaleItemOptionResponseType" type="tns:CreateSaleItemOptionResponseType"/>

            <xs:element name="UpdateSaleItemOptionType" type="tns:UpdateSaleItemOptionType"/>
            <xs:element name="UpdateSaleItemOptionResponseType" type="tns:UpdateSaleItemOptionResponseType"/>

            <xs:element name="DeleteSaleItemOptionType" type="tns:DeleteSaleItemOptionType"/>
            <xs:element name="DeleteSaleItemOptionResponseType" type="tns:DeleteSaleItemOptionResponseType"/>

            <!--Result object-->
            <xs:complexType name="ResultType">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="successful" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="failureReasonCode" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="exception" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="failureReason" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <!--Define data structures below-->

            <xs:complexType name="CategoryType">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="notes" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="isAllowedHappyHour" type="xsd:boolean" minOccurs="0" maxOccurs="1" default="false"/>
                    <xs:element name="happyHourRate" type="xsd:double" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="SaleItemType">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="catId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="normalPrice" type="xsd:double" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="takeoutPrice" type="xsd:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="isAllowedHH" type="xsd:boolean" minOccurs="0" maxOccurs="1" default="false"/>
                    <xs:element name="hhPrice" type="xsd:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="hhRate" type="xsd:double" minOccurs="0" maxOccurs="1" default="1"/>
                    <xs:element name="options" type="tns:SaleItemOptionType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="isSingleOption" type="xsd:boolean" minOccurs="0" maxOccurs="1" default="false"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="SaleItemOptionType">
                <xs:sequence>
                    <xs:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="saleItemId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="price" type="xsd:double" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="takeoutPrice" type="xsd:double" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <!--End of data structures-->

            <!--Define operations below-->

            <xs:complexType name="CreateCategoryType">
                <xs:sequence>
                    <xs:element name="category" type="tns:CategoryType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CreateCategoryResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="UpdateCategoryType">
                <xs:sequence>
                    <xs:element name="category" type="tns:CategoryType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UpdateCategoryResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="DeleteCategoryType">
                <xs:sequence>
                    <xs:element name="categoryId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DeleteCategoryResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ListCategoryType">
                <xs:sequence>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListCategoryResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                    <xs:element name="total" type="xs:int" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="categories" type="tns:CategoryType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="CreateSaleItemType">
                <xs:sequence>
                    <xs:element name="saleItemList" type="tns:SaleItemType" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CreateSaleItemResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                </xs:sequence>
            </xs:complexType>
            
            <xs:complexType name="ListSaleItemsForCategoryType">
                <xs:sequence>
                    <xs:element name="categoryId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListSaleItemsForCategoryResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                    <xs:element name="total" type="xs:int" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="saleItems" type="tns:SaleItemType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="UpdateSaleItemType">
                <xs:sequence>
                    <xs:element name="saleItemList" type="tns:SaleItemType" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UpdateSaleItemResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="DeleteSaleItemType">
                <xs:sequence>
                    <xs:element name="itemId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DeleteSaleItemResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="FetchSaleItemType">
                <xs:sequence>
                    <xs:element name="itemId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FetchSaleItemResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                    <xs:element name="saleItem" type="tns:SaleItemType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="CreateSaleItemOptionType">
                <xs:sequence>
                    <xs:element name="itemOption" type="tns:SaleItemOptionType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CreateSaleItemOptionResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                    <xs:element name="itemOption" type="tns:SaleItemOptionType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="UpdateSaleItemOptionType">
                <xs:sequence>
                    <xs:element name="itemOption" type="tns:SaleItemOptionType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UpdateSaleItemOptionResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="DeleteSaleItemOptionType">
                <xs:sequence>
                    <xs:element name="id" type="xs:long" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DeleteSaleItemOptionResponseType">
                <xs:sequence>
                    <xs:element name="Result" type="tns:ResultType"/>
                </xs:sequence>
            </xs:complexType>
            <!--End of operations-->
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="CreateCategoryMessage">
        <wsdl:part name="parameters" element="tns:CreateCategoryType"/>
    </wsdl:message>
    <wsdl:message name="CreateCategoryResponseMessage">
        <wsdl:part name="parameters" element="tns:CreateCategoryResponseType"/>
    </wsdl:message>

    <wsdl:message name="UpdateCategoryMessage">
        <wsdl:part name="parameters" element="tns:UpdateCategoryType"/>
    </wsdl:message>
    <wsdl:message name="UpdateCategoryResponseMessage">
        <wsdl:part name="parameters" element="tns:UpdateCategoryResponseType"/>
    </wsdl:message>

    <wsdl:message name="DeleteCategoryMessage">
        <wsdl:part name="parameters" element="tns:DeleteCategoryType"/>
    </wsdl:message>
    <wsdl:message name="DeleteCategoryResponseMessage">
        <wsdl:part name="parameters" element="tns:DeleteCategoryResponseType"/>
    </wsdl:message>

    <wsdl:message name="ListCategoryMessage">
        <wsdl:part name="parameters" element="tns:ListCategoryType"/>
    </wsdl:message>
    <wsdl:message name="ListCategoryResponseMessage">
        <wsdl:part name="parameters" element="tns:ListCategoryResponseType"/>
    </wsdl:message>

    <wsdl:message name="ListSaleItemsForCategoryMessage">
        <wsdl:part name="parameters" element="tns:ListSaleItemsForCategoryType"/>
    </wsdl:message>
    <wsdl:message name="ListSaleItemsForCategoryResponseMessage">
        <wsdl:part name="parameters" element="tns:ListSaleItemsForCategoryResponseType"/>
    </wsdl:message>

    <wsdl:message name="CreateSaleItemMessage">
        <wsdl:part name="parameters" element="tns:CreateSaleItemType"/>
    </wsdl:message>
    <wsdl:message name="CreateSaleItemResponseMessage">
        <wsdl:part name="parameters" element="tns:CreateSaleItemResponseType"/>
    </wsdl:message>

    <wsdl:message name="UpdateSaleItemMessage">
        <wsdl:part name="parameters" element="tns:UpdateSaleItemType"/>
    </wsdl:message>
    <wsdl:message name="UpdateSaleItemResponseMessage">
        <wsdl:part name="parameters" element="tns:UpdateSaleItemResponseType"/>
    </wsdl:message>

    <wsdl:message name="DeleteSaleItemMessage">
        <wsdl:part name="parameters" element="tns:DeleteSaleItemType"/>
    </wsdl:message>
    <wsdl:message name="DeleteSaleItemResponseMessage">
        <wsdl:part name="parameters" element="tns:DeleteSaleItemResponseType"/>
    </wsdl:message>

    <wsdl:message name="FetchSaleItemMessage">
        <wsdl:part name="parameters" element="tns:FetchSaleItemType"/>
    </wsdl:message>
    <wsdl:message name="FetchSaleItemResponseMessage">
        <wsdl:part name="parameters" element="tns:FetchSaleItemResponseType"/>
    </wsdl:message>

    <wsdl:message name="CreateSaleItemOptionMessage">
        <wsdl:part name="parameters" element="tns:CreateSaleItemOptionType"/>
    </wsdl:message>
    <wsdl:message name="CreateSaleItemOptionResponseMessage">
        <wsdl:part name="parameters" element="tns:CreateSaleItemOptionResponseType"/>
    </wsdl:message>

    <wsdl:message name="UpdateSaleItemOptionMessage">
        <wsdl:part name="parameters" element="tns:UpdateSaleItemOptionType"/>
    </wsdl:message>
    <wsdl:message name="UpdateSaleItemOptionResponseMessage">
        <wsdl:part name="parameters" element="tns:UpdateSaleItemOptionResponseType"/>
    </wsdl:message>

    <wsdl:message name="DeleteSaleItemOptionMessage">
        <wsdl:part name="parameters" element="tns:DeleteSaleItemOptionType"/>
    </wsdl:message>
    <wsdl:message name="DeleteSaleItemOptionResponseMessage">
        <wsdl:part name="parameters" element="tns:DeleteSaleItemOptionResponseType"/>
    </wsdl:message>

    <wsdl:portType name="KPosPortType">
        <wsdl:operation name="CreateCategory">
            <wsdl:input message="tns:CreateCategoryMessage" name="CreateCategory"/>
            <wsdl:output message="tns:CreateCategoryResponseMessage" name="CreateCategoryResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateCategory">
            <wsdl:input message="tns:UpdateCategoryMessage" name="UpdateCategory"/>
            <wsdl:output message="tns:UpdateCategoryResponseMessage" name="UpdateCategoryResponse"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteCategory">
            <wsdl:input message="tns:DeleteCategoryMessage" name="DeleteCategory"/>
            <wsdl:output message="tns:DeleteCategoryResponseMessage" name="DeleteCategoryResponse"/>
        </wsdl:operation>

        <wsdl:operation name="ListCategory">
            <wsdl:input message="tns:ListCategoryMessage" name="ListCategory"/>
            <wsdl:output message="tns:ListCategoryResponseMessage" name="ListCategoryResponse"/>
        </wsdl:operation>

        <wsdl:operation name="ListSaleItemsForCategory">
            <wsdl:input message="tns:ListSaleItemsForCategoryMessage" name="ListSaleItemsForCategory"/>
            <wsdl:output message="tns:ListSaleItemsForCategoryResponseMessage" name="ListSaleItemsForCategoryResponse"/>
        </wsdl:operation>

        <wsdl:operation name="CreateSaleItem">
            <wsdl:input message="tns:CreateSaleItemMessage" name="CreateSaleItem"/>
            <wsdl:output message="tns:CreateSaleItemResponseMessage" name="CreateSaleItemResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateSaleItem">
            <wsdl:input message="tns:UpdateSaleItemMessage" name="UpdateSaleItem"/>
            <wsdl:output message="tns:UpdateSaleItemResponseMessage" name="UpdateSaleItemResponse"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteSaleItem">
            <wsdl:input message="tns:DeleteSaleItemMessage" name="DeleteSaleItem"/>
            <wsdl:output message="tns:DeleteSaleItemResponseMessage" name="DeleteSaleItemResponse"/>
        </wsdl:operation>

        <wsdl:operation name="FetchSaleItem">
            <wsdl:input message="tns:FetchSaleItemMessage" name="FetchSaleItem"/>
            <wsdl:output message="tns:FetchSaleItemResponseMessage" name="FetchSaleItemResponse"/>
        </wsdl:operation>

        <wsdl:operation name="CreateSaleItemOption">
            <wsdl:input message="tns:CreateSaleItemOptionMessage" name="CreateSaleItemOption"/>
            <wsdl:output message="tns:CreateSaleItemOptionResponseMessage" name="CreateSaleItemOptionResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateSaleItemOption">
            <wsdl:input message="tns:UpdateSaleItemOptionMessage" name="UpdateSaleItemOption"/>
            <wsdl:output message="tns:UpdateSaleItemOptionResponseMessage" name="UpdateSaleItemOptionResponse"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteSaleItemOption">
            <wsdl:input message="tns:DeleteSaleItemOptionMessage" name="DeleteSaleItemOption"/>
            <wsdl:output message="tns:DeleteSaleItemOptionResponseMessage" name="DeleteSaleItemOptionResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="KPosBinding" type="tns:KPosPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="CreateCategory">
            <soap:operation soapAction="http://ws.kpos.com/CreateCategory" style="document"/>
            <wsdl:input name="CreateCategory">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateCategoryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="UpdateCategory">
            <soap:operation soapAction="http://ws.kpos.com/UpdateCategory" style="document"/>
            <wsdl:input name="UpdateCategory">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateCategoryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="DeleteCategory">
            <soap:operation soapAction="http://ws.kpos.com/DeleteCategory" style="document"/>
            <wsdl:input name="DeleteCategory">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteCategoryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="ListCategory">
            <soap:operation soapAction="http://ws.kpos.com/ListCategory" style="document"/>
            <wsdl:input name="ListCategory">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ListCategoryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="CreateSaleItem">
            <soap:operation soapAction="http://ws.kpos.com/CreateSaleItem" style="document"/>
            <wsdl:input name="CreateSaleItem">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateSaleItemResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="ListSaleItemsForCategory">
            <soap:operation soapAction="http://ws.kpos.com/ListSaleItemsForCategory" style="document"/>
            <wsdl:input name="ListSaleItemsForCategory">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ListSaleItemsForCategoryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="UpdateSaleItem">
            <soap:operation soapAction="http://ws.kpos.com/UpdateSaleItem" style="document"/>
            <wsdl:input name="UpdateSaleItem">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateSaleItemResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="DeleteSaleItem">
            <soap:operation soapAction="http://ws.kpos.com/DeleteSaleItem" style="document"/>
            <wsdl:input name="DeleteSaleItem">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteSaleItemResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="FetchSaleItem">
            <soap:operation soapAction="http://ws.kpos.com/FetchSaleItem" style="document"/>
            <wsdl:input name="FetchSaleItem">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="FetchSaleItemResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="CreateSaleItemOption">
            <soap:operation soapAction="http://ws.kpos.com/CreateSaleItemOption" style="document"/>
            <wsdl:input name="CreateSaleItemOption">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateSaleItemOptionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="UpdateSaleItemOption">
            <soap:operation soapAction="http://ws.kpos.com/UpdateSaleItemOption" style="document"/>
            <wsdl:input name="UpdateSaleItemOption">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateSaleItemOptionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="DeleteSaleItemOption">
            <soap:operation soapAction="http://ws.kpos.com/DeleteSaleItemOption" style="document"/>
            <wsdl:input name="DeleteSaleItemOption">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteSaleItemOptionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="KPosService">
        <wsdl:port name="KPosPort" binding="tns:KPosBinding">
            <soap:address location="http://127.0.0.1:22080/kpos/ws/kposService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
